.grouped {
	list-style-type: none;
	margin: 0 -12px;
	padding: 0;
}

/* Navigation links */
.nav-link {
	color: var(--primary-foreground);
	margin: 0;
	text-decoration: none;
}

.nav-link:hover {
	background-color: var(--hover-background);
	color: var(--hover-foreground);
}

/* List sections */
.grouped summary {
	font-weight: bold;
	list-style-type: none;
	padding: 16px 0 4px 12px;
}

.grouped summary::after {
	content: ' ';
	display: inline-block;
	padding: 0.2em;
	margin: 0 0 0.2em 4px;
	border: solid currentColor;
	border-width: 0 .2em .2em 0;
	transform: rotate(45deg);
	transition: 0.2s transform ease-out;
	position: relative;
	z-index: -1;
}

.grouped[open] summary::after {
	margin-bottom: 0;
	transform: rotate(225deg);
}

/* Grouped lists */
.grouped li,
.grouped .nav-link {
	display: list-item;
	margin: 0;
	padding: 8px 12px;
}