html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: linear-gradient(transparent -60vh, var(--background) 40vh), var(--hero-background);
	color: var(--primary-foreground);
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: lighter;
	margin: 16px 0 4px 0;
	padding: 0;
}

h1 {
	font-size: 56pt;
}

h2 {
	font-size: 26.667pt;
}

p {
	margin: 0;
}

article {
	padding-top: max(32px, var(--safe-area-inset-top));
	padding-right: max(60px, var(--safe-area-inset-right));
	padding-bottom: max(48px, var(--safe-area-inset-bottom));
	padding-left: max(40px, var(--safe-area-inset-left));
}

.header {
	font-weight: bold;
}

.secondary {
	color: var(--secondary-foreground);
	font-size: 80%;
}