@media (prefers-color-scheme: light) {
	:root {
		/* Background */
		--background: #FFFFFF;
		--navigation-background: #F0F0F0;
		--hero-background: url("../assets/hero-bg-light.png");

		/* Text */
		--primary-foreground: #000000DE;
		--secondary-foreground: #00000099;

		/* Hover */
		--hover: #0000004D;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Background */
		--background: #1D1D1D;
		--navigation-background: #000000;
		--hero-background: url("../assets/hero-bg.png");

		/* Text */
		--primary-foreground: #FFFFFFDE;
		--secondary-foreground: #FFFFFF99;

		/* Hover */
		--hover-background: #FFFFFF4D;
		--hover-foreground: var(--primary-foreground);
	}
}